
body {
  font-family: 'Raleway';
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.font-Lato {
  font-family: 'Lato';
}
.font-awesome {
  font-family:'FontAwesome';
}

.btn {
  text-decoration: none;
}

.header {
  background-color: white;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}
.header-inner {
  margin: 0 auto;
}

.header-left-image {
  float: left;
  opacity: 0.5;
  box-sizing: border-box;
}
.header__contactBtn {
  float: right;
  box-sizing: border-box;
  transition: all 0.3s;
}


.header__contactBtn:hover {
  color:#333;
}


.main {
  background-color: #f2f2f2; 
  padding-top: 78px;
}


.theme__inner {
  margin: 0 auto;  
  text-align: center;
  box-sizing: border-box;
}
.theme-title {
  font-weight: 700;
  color: #72cfae;
}
.theme-subTitle {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}


.section-green {
  background-color: #72cfae;
  box-sizing: border-box;
}
.section-green-inner {
  margin: 0 auto;
}
.section-green-text {
  text-align: center;
}
.section-green-text__title {
  font-size: 24px;
  color: white;
}
.section-green-text__content {
  margin-top: 35px;
  font-size: 20px;
  color: white;  
  box-sizing: border-box;
  word-break: break-all;
}


.article {
  padding: 60px 0 70px 0;
}
.article-inner{
  margin: 0 auto;
}
.article-inner__title {
  color: #333;
  font-size: 24px;
  text-align: center;
}
.article-inner__imageBox {
  margin: 40px 0px 90px;
  font-size: 0px;
}
.article-inner__image {
  opacity: 0.7;
  display: inline-block;
  transition: all 0.3s;
}
.article-inner__image:hover {  
  opacity: 1.0;
}
.article-inner__text-and-btn {
  margin: 0 auto;
  text-align: center;
}
.article-inner__text {
  color: #333;
}
.article-inner__btn {
  background-color: #72cfae;
  color: white;
  padding: 14px 20px;
  transition: all 0.3s;
}
.article-inner__btn:hover {
  color: #333;
} 


.section-black {
  padding: 70px 0 100px;
  background-color: #4e4e4e;
  box-sizing: border-box;
}
.section-black-inner {
  margin: 0 auto;
  text-align: center;
}
.section-black__title {
  font-size: 24px;
  color: white;
  margin-bottom: 50px;
}
.section-black__figureBox  {
  /* display: inline-block; */
}
.section-black__figure{
  /* float: left;
  margin-right: 180px;  */
}
.section-black__figure__caption {
  margin-top: 20px;
  color: white;
  font-size: 16px;
}


.sns-nav-inner {
  margin: 0 auto;
  text-align: center;
}
.sns-nav-inner-hover {
  padding: 15px 0;
  transition: all 0.3s;
  box-sizing: border-box;
  display: inline-block;
}
.sns-nav-inner-hover a {
  display: block;
}
.hover-image {
  color: #72cfae;
}
.sns-nav-inner-hover:hover{
  background-color:white;
}


.footer {
  padding: 20px 0 25px 0;
  background-color: #72cfae;
}
.footer-inner {
  margin: 0 auto;
}
.footer-inner__image {
  color:white;
}
.footer-inner__title {
  color: white;
  float: right;
}



@media screen and (min-width: 1200px) {

  .header-inner {
    max-width: 1100px;
  }
  .header__contactBtn {
    font-size: 12px;
    padding: 14px 12px;
    color: white;
    background-color: #72cfae;
  }


  .theme {
    padding: 250px 0;
  }
  .theme__inner {
    max-width: 1100px;
  }
  .theme-title {
    font-size: 90px;
  }


  .section-green-inner {
    padding-top: 50px;
    max-width: 1100px;
  }
  .section-green-image {
    float: left;
  }
  .section-green-text {
    float: right;
    width: 750px;
  }


  .article-inner{
    max-width: 1100px;
  }
  .article-inner__imageBox {
    margin: 40px 0px 90px;
    font-size: 0px;
  }
  .article-inner__image {
    margin-right: 100px;
  }
  .article-inner__image:nth-child(3n) {
    margin-right: 0px;
  }
  .article-inner__image:nth-child(n+4) {
    margin-top: 80px;
  }
  .article-inner__text {
    width: 500px;
    display: inline-block;
  }
  .article-inner__btn {
    vertical-align: top;
    margin-left: 90px;
    display: inline-block;
  }


  .section-black-inner {
    max-width: 1100px;
  }
  .section-black__figureBox  {
    display: inline-block;
  }
  .section-black__figure{
    float: left;
    margin-right: 180px; 
  }
  .section-black__figure:last-child{
    margin-right: 0px;
  }


  .sns-nav {
    padding: 200px 0;
  }
  .sns-nav-inner {
    max-width: 1100px;
  }
  .sns-nav-inner-hover {
    width: 185px;
  }


  .footer-inner {
    max-width: 1100px;
  }

}
@media screen and (min-width: 768px) and (max-width: 1199px) {

  .header-inner {
    width: 97%;
  }
  .header__contactBtn {
    font-size: 12px;
    padding: 14px 12px;
    color: white;
    background-color: #72cfae;
  }


  .theme {
    padding: 250px 0; 
  }
  .theme__inner {
    width: 97%;
  }
  .theme-title {
    font-size: 90px;
  }


  .section-green-inner {
    width: 97%;
    padding: 50px 0 25px;
    text-align: center;
  }
  .section-green-image {
    text-align: center;
  }
  .section-green-text {
    text-align: center;
  }
  .section-green-text__title {
    margin-top: 20px;
  }
  .section-green-text__content {
    display: inline-block;
    width: 80%;
  }


  .article-inner{
    width: 97%;
    text-align: center;
  }
  .article-inner__title {
    margin-bottom: 40px;
  }
  .article-inner__imageBox {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
  }
  .article-inner__image:nth-child(3n+1) {
    margin-top: 80px;
  }
  .article-inner__text {
    margin-bottom: 40px;
    box-sizing: border-box;
  }


  .section-black-inner {
    width: 97%;
  }
  .section-black__figure{
    margin-top: 80px;
  }
  .section-black__figure:first-child{
    margin-top: 0px;
  }


  .sns-nav {
    padding: 200px 0;
  }
  .sns-nav-inner {
    width: 97%;
  }
  .sns-nav-inner-hover {
    width: 165px;
  }


  .footer-inner {
    width: 97%;
  }

}
@media screen and (max-width: 767px) {

  .header-inner {
    width: 97%;
  }
  .header__contactBtn {
    display: inline-block;
    width: 45px;
    height: 40px;
    font-size: 0px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  #hamburger, #hamburger:before, #hamburger:after {
    position: absolute;
    height: 2px;
    width: 22px;
    border-radius: 3px;
    background: #ddd;
    display: block;
    content: '';
    cursor: pointer;
  }
  #hamburger:before {
    bottom: -8px;
  }
  #hamburger:after {
    bottom: -16px;
  }


  .theme {
    padding: 160px 0 130px;
  }
  .theme__inner {
    width: 97%;
  }
  .theme-title {
    font-size: 80px;
  }
  

  .section-green-inner {
    width: 97%;
    padding: 50px 0 25px;
    text-align: center;
  }
  .section-green-image {
    text-align: center;
  }
  .section-green-text {
    text-align: center;
  }
  .section-green-text__title {
    margin-top: 20px;
  }
  .section-green-text__content {
    display: inline-block;
    width: 80%;
  }


  .article-inner{
    width: 97%;
    text-align: center;
  }
  .article-inner__title {
    margin-bottom: 40px;
  }
  .article-inner__imageBox {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
  }
  .article-inner__image:nth-child(3n+1) {
    margin-top: 80px;
  }
  .article-inner__text {
    margin-bottom: 40px;
    box-sizing: border-box;
  }


  .section-black-inner {
    width: 97%;
  }
  .section-black__figure{
    margin-top: 80px;
  }
  .section-black__figure:first-child{
    margin-top: 0px;
  }


  .sns-nav {
    padding: 50px 0 70px;
  }
  .sns-nav-inner-hover {
    width: 100%;
    padding: 15px 15px;
  }


  .footer-inner {
    width: 97%;
  }
}